.*
*.o
*.patch
cscope.*
TAGS
tags

# dont ignore gitignore
!.gitignore
CMakeCache.txt
CMakeFiles/
Makefile
build/
cmake_install.cmake
a.out

coroutine/CMakeCache.txt
coroutine/CMakeFiles/
coroutine/Makefile
coroutine/build/
coroutine/cmake_install.cmake
coroutine/a.out
tmplbook-code/
